<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meat name="viewport" content="width=device-width, initial-scale=1.0"></meat>
    <title>呀!  出现错误了呢 去看看其他的吧</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/myape.css">
</head>
<body>
    <!--导航部分-->
    <!--引入组件-->
    <nav class="ui inverted segment m-apo-padded-tb-mini m-shadow-small " >
        <!-- 设置blog 与做边框的距离-->
        <div class="ui container">
            <!--菜单部分-->
            <div class="ui inverted secondary stackable menu ">
                <a href="#" class="ui item ">
                    <img src="http://cdn.sakurac.cn/sakura.png" alt="" class="ui image" style="width: 60px;height: 60px;padding-top: 4px">
                    <h1 class="ui header item" style="color: #ff8080;float: left ">ApeOnly</h1>
                </a>
                <!--引入标签图标-->
                <a herf="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a herf="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a herf="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a herf="#" class="m-item item m-mobile-hide"><i class="clock icon"></i>归档</a>
                <a herf="#" class="m-item item m-mobile-hide"><i class="mail icon"></i>留言板</a>
                <a herf="#" class="m-item item m-mobile-hide"><i class="linkify icon"></i>友链</a>
                <a herf="#" class="active m-item  item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <!--搜索部分-->
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
<!--中间部分-->
    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-huge" >
            <div class="ui contianer">
                <h2>错误</h2>
                <p>对不起，服务异常，请联系管理员</p>
                <div th:utext="'Failed Request URL : ' + ${url}"  ></div>
                <div th:utext="'Exception message : ' + ${Exception}"  ></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div th:utext="'&lt;!--'"  ></div>
        <div th:utext="'Failed Request URL : ' + ${url}"  ></div>
        <div th:utext="'Exception message : ' + ${Exception}"  ></div>
        <div th:utext="'--&gt;'"  ></div>
    </div>

    <!---->
    <div>
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
        <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
        <ul th:remove="tag">
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>

    <!--底部footer-->
    <footer class="ui inverted vertical segment m-apo-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="./static/imags/wechat.jpg" class="ui rounded image" alt="" style="width: 100px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini ">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini ">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">邮箱</a>
                        <a href="#" class="item">QQ号码</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced  ">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">博客介绍</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © </p>
            <div class="ui ">
                <span id="runtime_span"></span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.js"></script>
    <script src="static/js/mouseclick.js"></script>
    <script src="static/js/snow.js"></script>
    <script>
        <!--点击开关的-->
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide')
        });
        var OriginTitle = document.title;
        var titleTime;
        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                $('[rel="icon"]').attr('href', "/funny.ico");
                document.title = '(╯°Д°)╯︵ ┻━┻页面崩溃啦 ~';
                clearTimeout(titleTime);
            } else {
                $('[rel="icon"]').attr('href', "/favicon.ico");
                document.title = '┬─┬ ノ( \' - \'ノ) 噫又好啦 ~' + OriginTitle;
                titleTime = setTimeout(function () {
                    document.title = OriginTitle;
                }, 2000);
            }
        });
        </script>
</body>
</html>